## Probability Tables in Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('candy-data.csv')

In [5]:
df.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511
2,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511
3,Almond Joy,1,0,0,1,0,0,0,1,0,0.465,0.767
4,Baby Ruth,1,0,1,1,1,0,0,1,0,0.604,0.767

Create pivot table.

In [6]:
table = pd.pivot_table(data=df[['chocolate', 'bar']], columns=['chocolate'], index='bar', aggfunc=len)

In [7]:
table

chocolate   0   1
bar
0          45  17
1           1  20

Add sum for rows and columns.

In [8]:
table = table.append(pd.Series(table.sum(axis=0), name='sum'))

In [9]:
table['sum'] = table.sum(axis=1)

In [10]:
table

chocolate   0   1  sum
bar
0          45  17   62
1           1  20   21
sum        46  37   83

What are the odds that a piece of candy is chocolate, given that it is a bar? ( P(Chocolate|Bar) )

In [11]:
20/21

0.9523809523809523

What are the odds that a piece of candy has caramel, given that it is chocolate and has nougat? ( P(Caramel|Chocolate,Nougat) )

In [14]:
table = pd.pivot_table(data=df[['caramel', 'nougat', 'chocolate']], columns=['chocolate'], index=['nougat','caramel'], aggfunc=len)

In [15]:
table

chocolate          0     1
nougat caramel
0      0        41.0  25.0
       1         4.0   6.0
1      0         1.0   2.0
       1         NaN   4.0

In [16]:
4/6

0.6666666666666666